[submodule "gedisimulator"]
	path = gedisimulator
	url = https://bitbucket.org/caiohamamura/gedisimulator.git
[submodule "libclidar"]
	path = libclidar
	url = https://bitbucket.org/caiohamamura/libclidar.git
[submodule "tools"]
	path = tools
	url = https://bitbucket.org/caiohamamura/tools.git
